@import url(portProj.css) print;
@media print {
    body {
        width: 100%;
        font-size: 16pt;
        text-align: left;
        float: none !important;
        padding: 0;
        border: 0;
        margin-top: 2cm;
        margin-right: 2cm;
        margin-bottom: 1.5cm;
        margin-left: 2cm
        column-count: 1;
    }
}
.noprint {display:none;}
}
body {
    width: auto; margin: 0 5%;
    font-size: 50pt;
}
#wrapper, #content {
    width: auto;
    border: 0;
    margin: 0 5%;
}
